<div class="container">
    <h1>Hola, Este es mi primer proyecto</h1>
    <ul>
      <li *ngFor="let task of tasks()">
        {{task}}
      </li>
    </ul>
    <hr/>
    <h2>{{ 'Hola'.repeat(4) }}</h2>
    <p> La suma de 3 + 3 es {{ 3 + 3 }}</p>
    <p> Hola soy {{ name() }} y tengo {{ age }} años</p>
    <hr/>
    <p>person: {{person().name}}</p>
    <p>person: {{person().age}}</p>
    <img [src]="person().avatar" alt="avatar.png">
    <hr/>
    <button (click)="clickHandler()">Click Me</button>
    <button (dblclick)="clickHandler()">Doble Click Me</button>
    <p>(change)</p>
    <input type="number" [value]="person().age" (change)="changeHandler($event)">
    <p>(keydown)</p>
    <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
    <p>(keydown enter)</p>
    <input type="text" [value]="person().name" (keydown.enter)="clickHandler()">
    <hr/>
    <h1>Signlas</h1>
    <input type="text" [value]="name()" (keydown.enter)="changeHandler($event)">
    <p>name {{ name() }}</p>
    <hr/>
    <ul>
      <p> total: {{ tasks().length }}</p>
      <li *ngFor="let task of tasks(); index as i ">
        {{ i }} {{ task }}
      </li>
    </ul>
    <hr/>
    <h1>ngIf</h1>
    <div *ngIf="1 !== 1">
      My content
    </div>
    <div *ngIf="name() === 'Juan Pablo'">
      {{name()}}
    </div>
    <input type="text" [value]="person().age" (keydown.enter)="changeAge($event)">
    <div *ngIf="person().name === 'Juan Pablo' && person().age > 18; else elseBlock">
       Soy {{person().name}} y tengo {{person().age}} años
    </div>
    <ng-template #elseBlock>
      Soy Juan Pablo y soy menor
    </ng-template>
    <hr>
    <input type="text" [value]="person().name" (keydown.enter)="changeName($event)">
    <div [ngSwitch]="person().name">
      <p *ngSwitchCase="'Juan Pablo'">yo soy Juan Pablo</p>
      <p *ngSwitchCase="'Julian'">yo soy Julian</p>
      <p *ngSwitchCase="'Ana'">yo soy Ana</p>
      <p *ngSwitchCase="'Valentina'">yo soy Valentina</p>
      <p *ngSwitchDefault>Yo no tengo nombre</p>
    </div>
    <hr>
    <input type="color" [formControl]="colorCtrl">
    <p>color: {{colorCtrl.value}}</p>
    <hr>
    <svg>
      <g>
        <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
      </g>
    </svg>
</div>